@model PJCAdmin.Models.NoteModel

@{
    ViewBag.Title = "Note Details";
}

<h2>Note Details for <small style="color:#808080">@Html.DisplayFor(model => model.noteTitle)</small></h2>

<p>Link to "View Different Note"</p>

<table>
    <tr>
        <th>Overview</th>
    </tr>
    <tr>
        <td>User:</td>
        <td>USERNAME</td>
    </tr>
    @*if(note has routine){*@
    <tr>
        <td>Routine:</td>
        <td>ROUTINENAME</td>
    </tr>
    }
    @*if(note has step){*@
    <tr>
        <td>Step:</td>
        <td>STEPNAME</td>
    </tr>
    }
    <tr>
        <td>Time Created:</td>
        <td>TIMECREATED</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>DESCRIPTION</td>
    </tr>
</table>

<!--Link to resolve/add feedback/delete?-->