@{
    ViewBag.Title = "Notes";
}

<h2>User Notes</h2>
<table>
    @if (ViewData["Users"] != null)
    {
    
        if (((List<MembershipUser>)ViewData["Users"]).Count > 0)
        {

            for (int i = 0; i < ((List<MembershipUser>
                )ViewData["Users"]).Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(((List<MembershipUser>)ViewData["Users"]).ElementAt(i).UserName, "List", new { user = ((List<MembershipUser>)ViewData["Users"]).ElementAt(i).UserName })
                    </td>
                </tr>
            }
        }
                @*Html.DisplayFor(modelItem => user.UserName)
                @Html.ActionLink(user.Username, "List", new { user = user.UserName }) |
                *@
    }
    
</table>
