@{
    ViewBag.Title = "Notes";
}

<!--HTML for the layout of note details:-->

<h2>Viewing Notes for USERNAME</h2>

<<<<<<< HEAD
    <h2>Viewing Notes for @ViewData["user"]</h2>

    @Html.ActionLink("View Notes For Different User", "ListUsers")
=======
View Notes for Different User

<table>
    <tr><td><br/></td></tr>
    <tr>
        <th>User Notes</th>
    </tr>
        @if (ViewData["Users"] != null)
        {

            if (((List<MembershipUser>)ViewData["Users"]).Count > 0)
            {

                @*for (int i = 0; i < ((List<MembershipUser>
                    )ViewData["Users"]).Count; i++)*@
                    foreach (MembershipUser user in ViewData["Users"] as IEnumerable<MembershipUser>)
                    {
                <tr>
                    <td>
                        @Html.ActionLink(user.UserName, "List", new { user = (user.UserName)});
                    </td>
                </tr>
                }
            }
            @*Html.DisplayFor(modelItem => user.UserName)
                @Html.ActionLink(user.Username, "List", new { user = user.UserName }) |
            *@
        }
    <tr>
        <td>Note Name...</td>
        <td>Details</td>
    </tr>
>>>>>>> b2af8ef5b56668b98e97aa59dcbb5744f0b0aaee

    <tr><td><br/></td></tr>
    <tr>
        <th>Routine Notes</th>
    </tr>
    <tr>
        <td>Note Name...</td>
        <td>Routine Name...</td>
        <td>Details</td>
    </tr>

    <tr><td><br/></td></tr>
    <tr>
        <th>Step Notes</th>
    </tr>
    <tr>
        <td>Note Name...</td>
        <td>Routine Name...</td>
        <td>Step Name...</td>
        <td>Details</td>
    </tr>
</table>