@{
    ViewBag.Title = "Notes";
}

<!--HTML for the layout of note details:-->

<h2>Viewing Notes for USERNAME</h2>

View Notes for Different User

<table>
    <tr><td><br/></td></tr>
    <tr>
        <th>User Notes</th>
    </tr>
    <tr>
        <td>Note Name...</td>
        <td>Details</td>
    </tr>

    <tr><td><br/></td></tr>
    <tr>
        <th>Routine Notes</th>
    </tr>
    <tr>
        <td>Note Name...</td>
        <td>Routine Name...</td>
        <td>Details</td>
    </tr>

    <tr><td><br/></td></tr>
    <tr>
        <th>Step Notes</th>
    </tr>
    <tr>
        <td>Note Name...</td>
        <td>Routine Name...</td>
        <td>Step Name...</td>
        <td>Details</td>
    </tr>
</table>