@{
    ViewBag.Title = "Notes";
}

<h2>User Notes</h2>
<table>
    @if (ViewData["Users"] != null)
    {

        if (((List<MembershipUser>)ViewData["Users"]).Count > 0)
        {

            foreach (MembershipUser user in ViewData["Users"] as IEnumerable<MembershipUser>)
            {
                <tr>
                    <td>
                        @Html.ActionLink(user.UserName, "List", new { user = (user.UserName) })
                    </td>
                </tr>
            }
        }
                @*Html.DisplayFor(modelItem => user.UserName)
                @Html.ActionLink(user.Username, "List", new { user = user.UserName }) |
                *@
    }
    
</table>
