@model PJCAdmin.Models.FeedbackModel
<li>
    <table>
        <tr>
            <td>
                Feedback Type: Positive @*@(Model.FeedbackType.feedbackTypeName)*@
                <input type="hidden" name="Feedbacks[@ViewData["Index"]].FeedbackType.feedbackTypeName" value="POSITIVE" />
            </td>
        </tr>
        <tr>
            <td>
                Title: <input type="text" name="Feedbacks[@ViewData["Index"]].feedbackTitle" value="@(Model.feedbackTitle)" />
            </td>
        </tr>
        <tr>
            <td>
                Message: <input type="text" name="Feedbacks[@ViewData["Index"]].feedbackMessage" value="@(Model.feedbackMessage)" />
            </td>
        </tr>
        <tr>
            <td>
                Media Type: Text
                <input type="hidden" name="Feedbacks[@ViewData["Index"]].MediaType.mediaTypeName" value="Text" />
                @*@(Model.MediaType.mediaTypeName)*@
            </td>
        </tr>
        <tr>

            <td>
                <button class="RemoveTaskFeedback">Remove This Task Feedback</button>
            </td>
        </tr>
    </table>
</li>
