@model PJCAdmin.Models.FeedbackModel
<li class="TaskFeedback">
    <table>
        <tr>
            <td>Reminders:</td>
            <td>
                Positive @*@(Model.FeedbackType.feedbackTypeName)*@
                <input type="hidden" name="Tasks[@ViewData["TaskIndex"]].Feedbacks[@ViewData["Index"]].FeedbackType.feedbackTypeName" value="POSITIVE" />
            </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>
                <input type="text" name="Tasks[@ViewData["TaskIndex"]].Feedbacks[@ViewData["Index"]].feedbackTitle" value="@(Model.feedbackTitle)" />
            </td>
        </tr>
        <tr>
            <td>Message:</td>
            <td>
                <input type="text" name="Tasks[@ViewData["TaskIndex"]].Feedbacks[@ViewData["Index"]].feedbackMessage" value="@(Model.feedbackMessage)" />
            </td>
        </tr>
        <tr>
            <td>Media Type:</td>
            <td>
                Text
                <input type="hidden" name="Tasks[@ViewData["TaskIndex"]].Feedbacks[@ViewData["Index"]].MediaType.mediaTypeName" value="Text" />
                @*@(Model.MediaType.mediaTypeName)*@
            </td>
        </tr>
    </table>
    <p><button class="RemoveTaskFeedback" style="font-size:10pt;">Remove This Task Reminder</button></p>
</li>
