@model PJCAdmin.Models.FeedbackModel
<li>\
    <table>\
        <tr>\
            <td>\
                Feedback Type:</td><td> Positive@{PJCAdmin.Classes.Helpers.MVCModelHelpers.EnumHelper helper = new PJCAdmin.Classes.Helpers.MVCModelHelpers.EnumHelper();}\
                @*(<!--<select name="Feedbacks['+atIndex+'].feedbackTypeName">\
                    @foreach (PJCAdmin.Models.FeedbackType type in helper.getAllFeedbackTypes()){
                        <option value="@type.feedbackTypeName">@type.feedbackTypeName</option>@("\\")
                    }
                </select>-->\ )*@\
                <input type="hidden" name="Feedbacks['+atIndex+'].FeedbackType.feedbackTypeName" value="POSITIVE" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                Title:</td><td> <input type="text" name="Feedbacks['+atIndex+'].feedbackTitle" value="" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                Message:</td><td> <input type="text" name="Feedbacks['+atIndex+'].feedbackMessage" value="" />\
            </td>\
       </tr>\
       <tr>\
            <td>\
                Media Type:</td><td> Text\
                <input type="hidden" name="Feedbacks['+atIndex+'].MediaType.mediaTypeName" value="Text" />\
            </td>\
        </tr>\
    </table>\
    <p><button class="RemoveRoutineFeedback" style="font-size:10pt;">Remove This Routine Feedback</button></p>\
</li>\
