@model PJCAdmin.Models.TaskModel
<li>\
    <table>\
        <tr><td>Task Name: <input type="text" name="Tasks['+atIndex+'].taskName" value="" /></td></tr>\
        <tr><td>Description: <input type="text" name="Tasks['+atIndex+'].taskDescription" value="" /></td></tr>\
        <tr><td>Category: <select name="Tasks['+atIndex+'].TaskCategory.categoryName">\
                                @foreach (string name in ViewData["TaskCategories"] as List<string>)
                                {
                                    <option value="@name">@name</option>@("")
                                }\
                          </select></td></tr> <!-- TODO Make Hidden: Not used? -->\
        <tr><td>Sequence Number: <input type="text" name="Tasks['+atIndex+'].sequenceNo" value="" /></td></tr> <!-- TODO Make Hidden -->\
        <tr><td>\
            Timed? <input type="checkbox" name="Tasks['+atIndex+'].isTimed" /></td></tr>\
            <tr><td>Time Limit: <input type="text" name="Tasks['+atIndex+'].expectedDuration" value="" />\
            </td></tr>\
    </table>\
    \
    <h4>Task Feedback</h4>\
    <table>\
    </table>\
    \
    <table>\
        <tr>\
            <td>\
                <button class="AddTask">Add New Task Before</button>\
            </td>\
            <td>\
                <button class="RemoveTask">Remove This Task</button>\
            </td>\
        </tr>\
    </table>\
</li>\
