@model PJCAdmin.Models.FeedbackModel
<li class="TaskFeedback">\
    <table>\
        <tr>\
            <td>\
                Feedback Type: Positive@{PJCAdmin.Classes.Helpers.MVCModelHelpers.EnumHelper helper = new PJCAdmin.Classes.Helpers.MVCModelHelpers.EnumHelper();}\
                @*(<!--<select name="Tasks['+taskIndex+'].Feedbacks['+atIndex+'].feedbackTypeName">\
                        @foreach (PJCAdmin.Models.FeedbackType type in helper.getAllFeedbackTypes()){
                            <option value="@type.feedbackTypeName">@type.feedbackTypeName</option>@("\\")
                        }
                    </select>-->\ )*@\
                <input type="hidden" name="Tasks['+taskIndex+'].Feedbacks['+atIndex+'].FeedbackType.feedbackTypeName" value="POSITIVE" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                Title: <input type="text" name="Tasks['+taskIndex+'].Feedbacks['+atIndex+'].feedbackTitle" value="" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                Message: <input type="text" name="Tasks['+taskIndex+'].Feedbacks['+atIndex+'].feedbackMessage" value="" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                Media Type: Text\
                <input type="hidden" name="Tasks['+taskIndex+'].Feedbacks['+atIndex+'].MediaType.mediaTypeName" value="Text" />\
            </td>\
        </tr>\
        <tr>\
            <td>\
                <button class="RemoveTaskFeedback">Remove This Task Feedback</button>\
            </td>\
        </tr>\
    </table>\
</li>\
 