@model PJCAdmin.Models.Feedback
<td>
    Feedback Type: @(Model.FeedbackType.feedbackTypeName)
    <br />
    Title: @(Model.feedbackTitle)
    <br />
    Message: @(Model.feedbackMessage)
    <br />
    Media Type: @(Model.MediaType.mediaTypeName)
    <br />
</td>
