@{
ViewBag.Title = "Job - User Selection";
}

<table>
    <tr>
        <th>Select a user to view as...</th>
    </tr>
    <tr>
        <th>
            <br/>
            Job Coaches
        </th>
    </tr>

    @foreach (MembershipUser user in ViewData["JobCoaches"] as IEnumerable<MembershipUser>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.ActionLink("View as","ListRoutines", new { mockUser = user.UserName })
            </td>
        </tr>
    }

    <tr>
        <th>
            <br/>
            Parents
        </th>
    </tr>

    @foreach (MembershipUser user in ViewData["Parents"] as IEnumerable<MembershipUser>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.ActionLink("View as", "ListRoutines", new { mockUser = user.UserName })
            </td>
        </tr>
    }
</table>